<div class="social-share">
    <a class="social-share-link"
       href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
       target="_blank" rel="noopener noreferrer"
       aria-label="{{t "Share on Twitter"}}">
        Twitter
    </a>
    <a class="social-share-link"
       href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
       target="_blank" rel="noopener noreferrer"
       aria-label="{{t "Share on Facebook"}}">
        Facebook
    </a>
    <a class="social-share-link"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
       target="_blank" rel="noopener noreferrer"
       aria-label="{{t "Share on LinkedIn"}}">
        LinkedIn
    </a>
</div>
